<div class="profile-card">
 <div class="avatar-name">
   <img src="/assets/imgs/img.png" alt="avatar" class="profile-card__avatar">
   <div class="profile-card__name">
     <strong class="h6">John Doe</strong>
     <span class="subtitle">john.doe</span>
   </div>
 </div>

  <div class="profile-card__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam turpis erat, sagittis ut dolor vitae, pellentesque laoreet neque. Nulla feugiat ipsum est, porttitor dictum purus elementum id. Nunc facilisis tempus diam ut semper. Sed ac tristique ante. Phasellus luctus nulla quis nunc sollicitudin, tincidunt consequat est volutpat. Aenean eget accumsan arcu, ac congue diam. Sed vitae risus felis. Sed non diam vestibulum, viverra risus et, tristique lorem. Ut et leo consequat augue euismod volutpat sit amet sit amet ante. Donec mi ipsum, volutpat et auctor sagittis, vulputate non purus. Donec nec erat quam.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">REST</div>
  </div>

  <div class="profile-card__actions_btns">
    <button class="btn">Subscribe</button>
  </div>


</div>
